@keyframes soft-descent {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes glitch-flicker {
    0% {
      transform: translate(0);
      opacity: 1;
    }
    20% {
      transform: translate(-0.125rem, 0.125rem);
    }
    40% {
      transform: translate(0.125rem, -0.125rem);
      opacity: 0.8;
    }
    60% {
      transform: translate(-0.125rem, -0.125rem);
      opacity: 0.5;
    }
    80% {
      transform: translate(0.125rem, 0.125rem);
      opacity: 0.7;
    }
    100% {
      transform: translate(0);
      opacity: 1;
    }
  }

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes open-lid {
  30% {
    z-index: 4;
  }
  100% {
    transform: translate(0, 1.5%) rotateY(180deg) rotateX(180deg);
    z-index: 4;
  }
}

@keyframes mask-lift {
  to {
    transform: translateY(-47%);
  }
}
