@use "../../../styles/variables" as variables;

.glitch-title {
  font-size: clamp(2rem, 8vw, 8rem);
  font-family: "Cinzel", serif;
  letter-spacing: 0.05em;
  line-height: 1.1;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  color: variables.$title-color;
  text-shadow: 
    0 0 5px #8B140C,
    0 0 10px #8B140C;

  opacity: 0;
  animation: soft-descent 2s ease-in-out forwards;

  .letter-wrapper {
    position: relative;
    display: inline-block;

    .letter-shadow {
      visibility: hidden;
      white-space: pre;
    }

    .letter-visible {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.glitch-letter {
  position: relative;

  &::before,
  &::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    overflow: hidden;
    opacity: 0.8;
    z-index: -1;
    animation: glitch-flicker 0.3s steps(5, start) infinite; 
  }

  &::before {
    color: #ff00ff;
    left: -0.125rem;
    top: 0.125rem;
  }

  &::after {
    color: #00ffff;
    left: 0.125rem;
    top: -0.125rem;
    animation-delay: 0.1s;
  }
}